[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython
[submodule "amy"]
	path = amy
	url = https://github.com/shorepine/amy
[submodule "tinycc"]
	path = tinycc
	url = https://github.com/TinyCC/tinycc
[submodule "Arduino_Modulino"]
	path = Arduino_Modulino
	url = git@github.com:arduino-libraries/Arduino_Modulino.git
